/* CSS document */

   h1 {color:#3F0071;}
body { backgroung-color:#FB2576;
	color:#FB2576}

h2 { color:#00FFD1;}
h3 {color:#B1B2FF;}
h4{color:#FA7070}
h5{color:#FFABE1}
h6{color:#A7FFE4}
paregrap {color:#ABD9FF}